@{
    ViewData["Title"] = "Prices";
}

<div class="text-center">
    <div class="container">
        @if (ViewBag.precos != null && ViewBag.precos.Count >= 1)
        {
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Inicio de vigência</th>
                  <th scope="col">Fim de vigência</th>
                  <th scope="col">Preço da primeira hora</th>
                  <th scope="col">Preço a partir da segunda hora</th>
                </tr>
              </thead>
              <tbody>
                  @foreach (var preco in ViewBag.precos)
                    {
                        <tr>
                          <td>@preco.vigenciaInicio.ToString("dd/MM/yyyy")</td>
                          <td>@preco.vigenciaFim.ToString("dd/MM/yyyy")</td>
                          <td>R$ @preco.precoHoraInicial.ToString("0.00")</td>
                          <td>R$ @preco.precoHoraAdicional.ToString("0.00")</td>
                        </tr>
                    }
                    @if (ViewBag.precos.Count < 12)
                    {
                        @for (int i=12;i>ViewBag.precos.Count;i--)
                        {
                            <tr>
                            <td>&#xfeff</td>
                            <td>&#xfeff</td>
                            <td>&#xfeff</td>
                            <td>&#xfeff</td>
                            </tr>
                        }
                        
                    }
              </tbody>
            </table>
        }
        @if (ViewBag.precos.Count == 0)
        {
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Inicio de vigência</th>
                  <th scope="col">Fim de vigência</th>
                  <th scope="col">Preço da primeira hora</th>
                  <th scope="col">Preço a partir da segunda hora</th>
                </tr>
              </thead>
              <tbody>
                @for (int i=12;i>ViewBag.precos.Count;i--)
                {
                    <tr>
                    <td>&#xfeff</td>
                    <td>&#xfeff</td>
                    <td>&#xfeff</td>
                    <td>&#xfeff</td>
                    </tr>
                }
              </tbody>
            </table>
        }
    </div>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RegistrarPreco">Registrar Preço</a>
    </li>
</div>