@model EstacionaBem.Models.EntradaModel
@{
    ViewData["Title"] = "AdicionarEntrada";
}
@if(ViewBag.errorMessages != null)
{
  <div>@ViewBag.ErrorMessages</div>
}
<form action="/Estadias/RegistrarEntrada" method="post">
    <div class="form-group">
        <label>Placa do veiculo</label>
        <input type="text" asp-for="placa"></input>
        <span asp-validation-for="placa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Data e hora da entrada</label>
        <input type="datetime" asp-for="chegada"></input>
        <span asp-validation-for="chegada" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>